<div class="sidebar sidebar-dark bg-dark">
    <ul class="list-unstyled">
        <li><a [routerLink]="['/', AppURL.Authen, tmURL.dashboard]"  routerLinkActive="active"><i class="fa fa-fw fa-tachometer-alt"></i> Dashboard</a></li>
        <li>
            <a [routerLink]="['/', AppURL.Authen, tmURL.loan]"  routerLinkActive="active" data-toggle="collapse">
                <i class="fa fa-fw fa-cube"></i> Tool Loan/Return
            </a>
            <ul id="sm_base" class="list-unstyled collapse">
                <li><a href="https://bootadmin.net/demo/base/colors">Tool Loan</a></li>
                <li><a href="https://bootadmin.net/demo/base/typography">Tool Return</a></li>
            </ul>
        </li>
        <li><a href="https://bootadmin.net/demo/icons"><i class="fa fa-fw fa-flag"></i> Icons</a></li>
    </ul>
</div>