<app-tm-content>
    <div class="content p-4">

        <div class="title-title-w-btn">
            <h2 class="title">Loan Tool and Equipment</h2>
            <p>
                <button type="button" class="btn btn-primary btn-pill">Default button</button>
            </p>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <table class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Batch</th>
                            <th class="w-25">Description</th>
                            <th>Part Number</th>
                            <th>Serail Number</th>
                            <th>Qty</th>
                            <th>Aircraft</th>
                            <th>Engineer</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</app-tm-content>