<app-tm-content>
    <div class="content p-4">

        <div class="row">
            <div class="col-6">
                <h2 class="title">Loan Tool and Equipment</h2>
            </div>
            <div class="col-6">
                <p>
                    <button type="button" class="btn btn-danger btn-pill ml-2" style="float: right;" data-toggle="modal"
                        data-target="#loanModal">Tool Loan</button>
                    <button type="button" class="btn btn-success btn-pill" style="float: right;">Tool Return</button>
                </p>

            </div>
        </div>

        <div class="row card mb-4">
            <div class="card-body">
                <table class="table table-hover" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Batch</th>
                            <th class="w-25">Description</th>
                            <th>Part Number</th>
                            <th>Serail Number</th>
                            <th>Qty</th>
                            <th>Aircraft</th>
                            <th>Engineer</th>
                            <th>Store</th>
                            <th>Date</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                            <td>Test</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
        aria-hidden="true" id="loanModal" data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Tool Loan</h5>
                </div>
                <div class="modal-body">
                    <div class="card mb-4">
                        <div class="card-header bg-white font-weight-bold">
                            Loan Information
                        </div>
                        <form [formGroup]="form_header" (submit)="onSubmitHeader()" autocomplete="off">
                            <div class="card-body">

                                <div class="form-row">

                                    <div class="col-md-6 mb-3">
                                        <label for="validationServerUsername">Employee ID :</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupPrepend3">TL</span>
                                            </div>
                                            <input formControlName="eng_id" type="text" class="form-control is-invalid"
                                                id="validationServerUsername" placeholder="Username"
                                                aria-describedby="inputGroupPrepend3" [ngClass]="{
                                                    'is-valid': form_header.get('eng_id').touched && form_header.get('eng_id').valid,
                                                    'is-invalid': form_header.get('eng_id').touched && form_header.get('eng_id').invalid
                                                }">
                                            <div class="invalid-feedback">
                                                <div *ngIf="eng_id_error.errors?.cannotContainSpace">
                                                    Employee ID Can not Contain Space.
                                                </div>
                                                <div *ngIf="eng_id_error.errors?.required">
                                                    Employee ID is Required.
                                                </div>
                                                <div *ngIf="eng_id_error.errors?.employee">
                                                    Employee ID is Not Found.
                                                </div>
                                            </div>
                                            <div class="valid-feedback">
                                                Success!
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <label for="validationServer01">Employee name :</label>
                                        <input type="text" class="form-control is-invalid" id="validationServer01"
                                            formControlName="eng_name" placeholder="First name" [ngClass]="{
                                                'is-valid': form_header.get('eng_name').touched && form_header.get('eng_name').valid,
                                                'is-invalid': form_header.get('eng_name').touched && form_header.get('eng_name').invalid
                                            }">
                                    </div>

                                </div>
                                <div class="form-row">

                                    <div class="col-md-6 mb-3">
                                        <label for="exampleFormControlSelect1">Aircraft :</label>
                                        <select class="form-control" id="exampleFormControlSelect1"
                                            formControlName="aircraft" [ngClass]="{
                                                'is-valid': form_header.get('aircraft').touched && form_header.get('aircraft').valid,
                                                'is-invalid': form_header.get('aircraft').touched && form_header.get('aircraft').invalid
                                            }">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>

                                    <div class="col-md-6 mb-3">
                                        <label for="validationServer03">Flight :</label>
                                        <input type="text" class="form-control" id="validationServer03"
                                            placeholder="SL-XXX" formControlName="flight">
                                    </div>


                                </div>

                                <div class="row float-right mb-2">
                                    <button type="submit" class="btn btn-primary"
                                        [style.display]="!isShow ? 'block':'none'" [disabled]='!form_header.valid'>Save
                                        changes</button>
                                </div>


                            </div>

                        </form>




                    </div>

                    <div class="card md-4" [style.display]="!isShow ? 'none':'block'">
                        <div class="card-header bg-white font-weight-bold">
                            Loan Tool Detail
                        </div>

                        <div class="card-body">
                            <form [formGroup]="form_detail" (submit)="onSubmitDetail()">
                                <div class="form-row">
                                    <div class="input-group col-md-6 mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupPrepend3">Batch Number</span>
                                        </div>
                                        <input type="text" class="form-control is-invalid" id="validationServerUsername"
                                            placeholder="Username" aria-describedby="inputGroupPrepend3" required
                                            formControlName="batch">
                                        <div class="invalid-feedback">
                                            Batch Number ID is Required
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <table class="table table-hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>No</th>
                                        <th>Batch</th>
                                        <th class="w-25">Description</th>
                                        <th>Part Number</th>
                                        <th>Serail Number</th>
                                        <th>Qty</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of batch_array;let i = index">
                                        <td>{{ i+1 }}</td>
                                        <td>{{ item.batch }}</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>Test</td>
                                        <td>{{ item.qty }}</td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"
                        (click)="reSetmodal()">Close</button>
                    <button type="button" class="btn btn-success" [style.display]="!isShow ? 'none':'block'">Save
                        changes</button>
                </div>
            </div>
        </div>

    </div>


</app-tm-content>